@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  width: 500px;
  height: 700px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.42);

  h1 {
    height: 70px;
    grid-column: 1/5;
    text-align: end;
    padding-right: 15px;
    color: rgba(240, 248, 255, 0.831);
    font-size: 60px;
    font-family: "Roboto Mono", monospace;
  }

  button {
    padding: 0px;
    border: 0px;
    height: 70px;
    width: 70px;
    background-color: transparent;
    border-color: white;
    color: #f0f8ffd4;
    font-size: 60px;
    font-family: "Roboto Mono", monospace;
    cursor: pointer;
  }

  .specialCharacter {
    color: #f5d800d4;
  }

  .zeroButton {
    grid-column: 2;
  }

  .equalsButton {
    text-align: center;
    border-radius: 50%;
    background-color: #f5d800d4;
  }
}
